.all-strains-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: scroll;
}
 .back-home {
  height: 7vh;
  border-radius: 20px;
  position: fixed;
  margin-left: 2vw;
 }