.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Add this line */
}

.header-content {
  width: 100%;
  max-width: 1200px; /* Adjust this value according to your needs */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
 .logo{
  margin: 2em;
  height: 10vh;
  border-radius: 40px;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
  background-color: rgba(240, 248, 255, 0);
 }

.title-container{
  padding: 0 0 0 0;
  width:40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  color: darkblue;
  font-size: 3vh;
}

 .button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35vw;
  align-items: center;
 }
 .header-buttons{
  background-color:lightsteelblue;
  border: 2px black solid;
  color: black;
  padding: 0.5rem 0.75rem;
  margin-top: 0.25rem;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
 }
 .header-buttons:hover{
    background-color: lightblue;
}